[Desktop Entry]
Version=1.0
Type=Application
Name=FileByDate
Comment=date based file organizer
Exec=filebydate %F
Icon=${SNAP}/meta/gui/filebydate.png
Terminal=false
Categories=Graphics;
StartupNotify=true
StartupWMClass=FileByDate

